@(tasks: Seq[String])(implicit assetsFinder: AssetsFinder, flash: Flash, requestHeader: RequestHeader)

@main("Task List") {
    <h2>Task List</h2>

    <ul>
        @for((task, i) <- tasks.zipWithIndex) {
            <li>@task</li>
            <form method="post" action="@routes.TaskListOneController.deleteTask">
                @helper.CSRF.formField
                <input type="hidden" name="index" value="@i">
                <input type="submit" value="Delete">
            </form>
        }
    </ul>

    <form method="post" action="@routes.TaskListOneController.addTask">
        @helper.CSRF.formField
        <input type="text" name="newTask">
        <input type="submit">
    </form>

    <div>
        <a href="@routes.TaskListOneController.logout">Logout</a>
    </div>
}